
<div class="header">
    <p>
        <i style='font-size:20px; color: royalblue' class='far'>&#xf007;</i>
        Tài Khoản Của Tôi
    </p>
</div>
<div>
    <ul style="list-style-type: none;" id="div-u">
        <li>Hồ Sơ</li>
        <li>Ngân Hàng</li>
        <li>Địa Chỉ</li>
        <li>Đổi Mật Khẩu</li>
        <li>Cài Đặt Thông Báo </li>
    </ul>
</div>
<div class="header">
    <p>
        <i style='font-size:20px; color: royalblue;' class='fas'>&#xf291;</i>
        Đơn Mua
    </p>
</div>
<div class="header">
    <p>
        <i style='font-size:20px; color: orangered' class='far'>&#xf0f3;</i>
        Thông Báo
    </p>
</div>
<div class="header">
    <p>
        <i style='font-size:20px; color: orangered;' class='fas'>&#xf02b;</i>
        Kho Voucher
    </p>
</div>
<div class="header">
    <p>
        <i style='font-size:20px; color: yellow;' class='fab'>&#xf379;</i>
        Shopee Xu
    </p>
</div>

<style>
    .header p {
        margin-bottom: 15px;
        font-size: 14px;
        color: black;
    }

    .header a {
        color: black;
    }

        .header a:hover {
            text-decoration: none;
        }

    ul {
        padding: 0px;
    }

        ul li {
            margin-left: 18px;
            padding: 5px;
            list-style: none;
            font-size: 14px;
            color: #000000a6;
        }

            ul li a {
                color: lightslategrey;
            }

                ul li a:hover {
                    color: orangered;
                    text-decoration: none;
                }

    .title {
        font-size: 14px;
        font-weight: bold;
        color: #EE4D2D;
    }

    ul .title:hover {
        color: #EE4D2D;
    }
</style>
